@import '~antd/dist/antd.less';


body {
	background-color: @layout-body-background;
}

#root {
	min-height: 100vh;
	padding: 1rem 0;
}

.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane,
.ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
	transition: none;
}
